#app {
    margin-top: 10%;
}

#title-bar {
    width: 100%;
    padding: 30px;
    background-color: #eeeeee;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.option {
    border: 1px solid grey;
}

.no-link {
  color: white;
}

.no-link:hover {
  color: white;
}

#create {
  color: #8bbeb2;
}

#make_play {
  color: #565264;
}
