#app {
    margin-top: 10%;
}

#title-bar {
    width: 100%;
    padding: 30px;
    background-color: #eeeeee;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.option {
    border: 1px solid grey;
}